*{
    margin: 0;
    box-sizing: border-box;
}
.main{
    height: 100vh;
    width: 100%;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main2{
    background-color: white;
    width: 70%;
    height: 70%;
    display: flex;
}
.mf{
    width: 55%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img{
    width: 45%;
    height: 100%;
    background-color: blue;
}
img{
    width: 100%;
    height: 100%;
}
.ld{
    background-color: white;
    width: 65%;
    height: 70%;
    margin-right: 7%;

    margin-bottom: 7%;
}
.i1{
    height: 10%;
    width: 35%;
    margin: 10px;
}
h2{
    font-size: 60px;
    padding-top: 4%;
    padding-right: 10%;
    padding-bottom: 2%;
    padding-left: 6%;
}
.par1{
    font-size: 18px;
    padding: 10px;
    color: hsl(0, 74%, 74%);

}
b{
    color: hsl(0, 74%, 74%);
}
.but{

    width: 100%;
    height: 50px;
    border-radius: 30px;
    background-color: white;
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px hsla(0, 74%, 74%, 0.816) solid;
}
button{
    height: 50px;
    width: 100px;
    background-color: hsl(0, 74%, 74%);
    color: white;
    font-size: 18px;
    border: 0px;
    border-radius: 25px;
}
.gm{
    height: 0px;
    width: 0px;
}
.f{
    color: hsl(0, 74%, 74%);
} 
@media(max-width:1150px){
    .main2{
        flex-direction: column;
        width: 40%;
    }
    .gm{
    height: 40%;
    width: 154%;
    }
    .mf{
        width: 100%;
        height: 100%;
    }
    .img{
        width: 0%;
        margin-top: 0%;
    }
    h2{

    margin-left: 40%;
    }
    .par1{

    margin-left: 40%;
    font: small-caption;
}
.but{
    margin-left: 20%;

}
    .mf{
        height: 150%;
        align-items: start;
        justify-content: start;
    }
}
@media(max-width:800px){
    .main{
        height: 140vh;
    }
    .main2{
        flex-direction: column;
        width: 80%;
        height: 70%;
    }
    .mf{
        height: 70%;
        align-items: start;
        justify-content: start;
        width: 100%;
    }
}